# Week9 Homework
## Working with Strings

The data frame contains notes taken by staff members. Your task is to clean it up to make it usable for analysis. 

### Tasks
* Create start date, end date columns and populate the values (If notes don't include month or day use 1) i.e: 2018 => 2018-01-01

* Create phone number column (If notes don't include phone numbers, use None)
* Create a column `duration` showing difference between start & end dates in years as a whole number

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/msaricaumbc/DS601_Fall21/main/Week09/data/hw_data.csv', index_col=0)

In [4]:
df.head()

,email,notes
0,fosterjennifer@gmail.com,st Dt February 2005 ed dt;10/27/2011
1,vanessastephens@gmail.com,st date:1974-05-21 end date 06/17/2013 pn: 00...
2,vsmith@yahoo.com,start dt 01/14/1985-ed date:2021-03-21
3,tammymorgan@gmail.com,STDT July 1973-end dt 01/20/2012
4,kimberlylyons@mason-solis.biz,st date:09/28/2002-ENDT 04/10-p/n 929-878-4923

In [5]:
df.columns

Index(['email', 'notes'], dtype='object')

In [16]:
df1= df.assign(StartDate = None)
df1

,email,notes,StartDate
0,fosterjennifer@gmail.com,st Dt February 2005 ed dt;10/27/2011,None
1,vanessastephens@gmail.com,st date:1974-05-21 end date 06/17/2013 pn: 00...,None
2,vsmith@yahoo.com,start dt 01/14/1985-ed date:2021-03-21,None
3,tammymorgan@gmail.com,STDT July 1973-end dt 01/20/2012,None
4,kimberlylyons@mason-solis.biz,st date:09/28/2002-ENDT 04/10-p/n 929-878-4923,None
...,...,...,...
1995,linblake@hotmail.com,st dt;1988-03-28 end date 04/10 pn: 866.901.29...,None
1996,xgriffin@gmail.com,P# 9478756534 st Dt 01/97 end Dt 05/11,None
1997,alexanderrodriguez@smith.com,st dt;05/92/end date 01/05/2020/p# 176-995-64...,None
1998,wwilliams@yahoo.com,p# +1-471-226-4876x03993-start date 07/91-en ...,None
1999,brent46@gmail.com,st dt 04/99-en dt:11/03/2011-pn: 729.161.3762,None

In [15]:
df2= df.assign(EndDate= None)
df2

,email,notes,EndDate
0,fosterjennifer@gmail.com,st Dt February 2005 ed dt;10/27/2011,None
1,vanessastephens@gmail.com,st date:1974-05-21 end date 06/17/2013 pn: 00...,None
2,vsmith@yahoo.com,start dt 01/14/1985-ed date:2021-03-21,None
3,tammymorgan@gmail.com,STDT July 1973-end dt 01/20/2012,None
4,kimberlylyons@mason-solis.biz,st date:09/28/2002-ENDT 04/10-p/n 929-878-4923,None
...,...,...,...
1995,linblake@hotmail.com,st dt;1988-03-28 end date 04/10 pn: 866.901.29...,None
1996,xgriffin@gmail.com,P# 9478756534 st Dt 01/97 end Dt 05/11,None
1997,alexanderrodriguez@smith.com,st dt;05/92/end date 01/05/2020/p# 176-995-64...,None
1998,wwilliams@yahoo.com,p# +1-471-226-4876x03993-start date 07/91-en ...,None
1999,brent46@gmail.com,st dt 04/99-en dt:11/03/2011-pn: 729.161.3762,None